@import '../App.css';

.admin-header {
    min-height: 80px;
    width: 100%;
    background-color: var(--t-blue);
}

.admin-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
}

.admin-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.admin-link {
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.admin-link:hover {
    color: var(--slide-border-color);
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.admin-login-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.admin-login-form {
    width: 320px;
    height: 320px;
    background-color: var(--secondary);
    border-radius: 20px;
    box-shadow: 0 0 20px var(--prime-blue);
    padding: 2rem 1rem;
}

.admin-login-input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.admin-login-input-field input,
.admin-login-input-field select {
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--prime-blue);
    height: 36px;
    margin-bottom: 1rem;
}

.admin-login-input-field textarea {
    background-color: transparent;
    padding: 4px 8px;
    border-radius: 8px;
    outline: none;
    border: 1px solid var(--prime-blue);
    margin-bottom: 1rem;
}

.admin-login-input-field input:focus {
    background-color: var(--t-blue);
}

.admin-active-link {
    color: var(--prime-blue) !important;
    text-decoration: none;
}

.admin-create-content-page,
.admin-manage-content-page,
.admin-manage-users-page,
.admin-users-ips {
    min-height: 100vh;
    padding-bottom: 100px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
    background: var(--prime-blue);
    border-radius: 8px;
}

.admin-container {
    padding-top: 50px;
}

.manage-users-row {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
    font-size: 12px;
    border-bottom: 1px solid var(--prime-blue);
}

.manage-users-row-header {
    padding: 8px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--prime-blue);
}

.manage-users-row-header * {
    color: var(--prime-blue);
}

.edit-icon svg {
    font-size: 24px;
    fill: var(--prime-blue);
    cursor: pointer;
}

.remove-icon svg {
    font-size: 24px;
    fill: var(--prime-red);
    cursor: pointer;
}

.modal {
    padding-top: 20px !important;
}